{% extends 'base.html' %} 
{% load static %}

{% block extend_body %}

<div class="container landing-page">
    <div class="mt-5 text-center">
        <h2>Secure Cloud &#8212; Client Portal</h2>
        <h5>Log in or create a new account</h5>
    </div>
    <div class="mt-5 text-center">
        <a href="" class="btn btn-lg btn-primary mx-2">Log In <i class="bi bi-box-arrow-in-right"></i></a>
        <a href="" class="btn btn-lg btn-primary mx-2">Sign Up <i class="bi bi-person-plus"></i></a>
    </div>
</div>
{% endblock extend_body %}