/* Colors */
/* Pop variations */
/* Light variations */
/* Deep variations */
body {
  background: url(../../media/assets/about.jpg);
  background-size: cover;
  isolation: isolate;
}
body::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #007BFF;
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.navbar {
  z-index: 2;
}
.navbar li a:hover {
  color: #007BFF;
}

.about {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  position: relative;
}
.about__title {
  text-align: center;
  color: white;
}
.about__title h1 {
  line-height: 0.9;
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.about__subtitle {
  margin-top: -1em;
  color: white;
}
.about__subtitle h3 {
  font-size: 1.5em;
}
.about__icons {
  margin-top: 1em;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
}
.about__icon {
  width: 8em;
  height: 8em;
  padding: 2em;
  background: white;
  opacity: 0.8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__icon img {
  height: 4em;
  color: red;
}