@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Light-webfont.woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-LightItalic-webfont.woff);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Regular-webfont.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Italic-webfont.woff);
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Medium-webfont.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-MediumItalic-webfont.woff);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Medium-webfont.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-MediumItalic-webfont.woff);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Bold-webfont.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-BoldItalic-webfont.woff);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Black-webfont.woff);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-BlackItalic-webfont.woff);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../../assets/fonts/RobotoSlab-Regular-webfont.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../../assets/fonts/RobotoSlab-Bold-webfont.woff);
    font-weight: 700;
    font-style: normal;
}